**/.git
**/.gitignore
**/.vscode
**/.vs
**/bin
**/obj
**/.DS_Store
**/node_modules
**/.env
**/.env.local
**/npm-debug.log
**/*.md
!README.md
**/.dockerignore
**/Dockerfile
**/.github
**/azure-pipelines.yml
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform
**/*.tfvars
